:root
{
	/* Variables para los colores*/
/*	--bitcoin-orange:#F7931A;
	--soft-orange:#FFE9D5;
	--secondary-blue:#1A9AF7; 
	--soft-blue:#E7F5FF;
	--warm-black:#201E1C;
	--warm-blackplus1:#282623;
	--gray:#BABABA;
	--off-white:#FAF8F7;
	--just-white:#FFFFFF;

	--orgasmic-red:#F33D3D;
	--aputazised-purple:#CF04D6;
	--alpha-male-blue:#171BD4;
	--sexually-ambiguous-green:#76F8C9;
	--notsobad-manlybrown:#633108;*/
}


*
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html
{
	font-size: 62.5%;
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Header */

header.container
{
	width: 100%;
	height: 200px;
	margin: 0 auto;
	padding-right: 0;
	padding-left: 0;
}

header img
{
	width: 100%;
	height: auto;
}

header span.logo
{
	background: url('../assets/logo.png');
	/*background-position: center;*/
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	width: 40px;
	height: 40px;

}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Header <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


.carousel-item_title
{
	color: white;
	font-size: 3rem;
	font-weight: bold;
}

.carousel-item_text
{
	color: white;
	font-size: 2rem;
	font-weight: bold;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Main */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Main <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


.main-container
{
	background-color: #C7C5C5;
	width: 100%;
	height: 400px;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Footer */

footer
{
	width: 100%;
	height: 100px;
	background-image: linear-gradient(to bottom, #134da3, #4060b7, #5f75cc, #7c8ae1, #98a0f6);
}

.footer-container_enlaces
{
	padding-left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-container_enlaces li
{
	text-decoration: none;
	list-style: none;
	padding: 0.1rem;
}


.footer-container_enlaces li a
{
	text-decoration: none;
	color: white;
	font-size: 1.1rem;
	font-weight: bold;
	list-style: none;

}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Footer <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/