:root
{
	/* Variables para los colores*/
/*	--bitcoin-orange:#F7931A;
	--soft-orange:#FFE9D5;
	--secondary-blue:#1A9AF7; 
	--soft-blue:#E7F5FF;
	--warm-black:#201E1C;
	--warm-blackplus1:#282623;
	--gray:#BABABA;
	--off-white:#FAF8F7;
	--just-white:#FFFFFF;

	--orgasmic-red:#F33D3D;
	--aputazised-purple:#CF04D6;
	--alpha-male-blue:#171BD4;
	--sexually-ambiguous-green:#76F8C9;
	--notsobad-manlybrown:#633108;*/
}






*
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html
{
	font-size: 62.5%;
}


header.container
{
	width: 100%;
	margin: 0 auto;
	padding-right: 0;
	padding-left: 0;
}

header img
{
	width: 100%;
	height: auto;
}

header span.logo
{
	background: url('../assets/logo.png');
	/*background-position: center;*/
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	width: 50px;
	height: 50px;
}